{# NAVBAR
    ================================================= #}
    <nav class="navbar navbar-expand-xl navbar-dark navbar-togglable fixed-top" >
			<div class="container">
	  
			  {# Brand #}
			  <a class="navbar-brand" href="{{path('index')}}">
				
					<img alt="moreno" id="logo" src="assets/img/LOGO COMPLET MORENO 8019.png" style='width:166px;height:26px' />
				 
			  </a>
			  
		
			  {# Toggler #}
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" >
				<span class="navbar-toggler-icon"></span>
			  </button>
		
			  {# Collapse #}
			  <div class="collapse navbar-collapse" id="navbarCollapse">
			  
	  
				{# Social #}
			
	  
				{# Links #}
				<ul class="navbar-nav ml-auto" style='letter-spacing: 0.1em;'>
				 
				  <li class="nav-item">
					<!-- <a href="{{path('projects')}}" class="nav-link" id='getStarted' >
						Projects
					</a> -->
					<div class="dropdown">
						<a class="nav-link" id='getStarted' href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Projects
						</a>
								<!-- Update links -->
						<div class="dropdown-menu dropdown-menu-right">
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Concours</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Privé</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Résidentiel</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Administratif</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Horeca</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Intérieur</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Urbanisme</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Culture</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Retail</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Extérieur</a>
								<a href="{{path('projects')}}" class="dropdown-item" style="font-weight:400">Equipment</a>
								
						</div>
					</div>
				  </li>
				  <li class="nav-item">
					<a href="{{path('press')}}" class="nav-link"id='getStarted' >
						Press
					</a>
				  </li>
				  <li class="nav-item">
					<a href="{{path('about')}}" class="nav-link" id='getStarted' >
						About
					</a>
				  </li>
				  <li class="nav-item">
					<a href="#book-a-demo" class="nav-link" id='getStarted' >
						Jobs
					</a>
				  </li>
				  <li class="nav-item">
					<a href="#book-a-demo" class="nav-link"id='getStarted' >
						Contact
					</a>
				  </li>
					
						<li class="nav-item-divider" >
						<span class="nav-link" >
							<span></span>
						</span>
						</li>
						<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="fab fa-facebook"></i> 
							<span class="d-xl-none ml-2">
							Facebook
							</span>
						</a>
						</li>
						<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="fab fa-twitter"></i> 
							<span class="d-xl-none ml-2">
							Twitter
							</span>
						</a>
						</li>
						<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="fab fa-instagram"></i> 
							<span class="d-xl-none ml-2">
							Instagram
							</span>
						</a>
						</li>
					
	  
				  
				</ul>
	  
			  </div> {# / .navbar-collapse #}
		
			</div> {# / .container #}    
		  </nav>
	
	